<strong>Ol치, {{ provider }}</strong>
<p>Houve um cancelamento de Hor치rio, confira os detalhes abaixo</p>
<p>
    <strong>Cliente:</strong>{{ user }} <br/>
    <strong>Data/Hora:</strong>{{ date }} <br/>
    <br/>
    <small>
        o Hor치rio est치 disponivel para novos agendamentos
    </small>
</p>